[run]
branch = True
source =
    dpaygo/
    dpaygobase/
    dpaygoapi/
    dpaygographenebase/
omit =
     */.eggs/*
     */.tox/*

[report]
omit =
     */.eggs/*
     */.tox/*

[paths]
source =
    .tox/*/lib/python*/site-packages/dpaygo
    .tox/pypy/site-packages/dpaygo
